---
import { buttonVariants } from "@/components/ui/button";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import Icon from "astro-icon";
---

<MainLayout title="Sattiyan Selvarajah">
  <section class="space-y-6 pb-12 pt-16 lg:py-28">
    <div
      class="container flex max-w-[64rem] flex-col items-center gap-5 text-center"
    >
      <a
        href="https://github.com/sattiyans"
        class={cn(buttonVariants({ variant: "outline", size: "sm" }))}
        target="_blank"
      >
        Follow on <Icon name="github" class="ml-2 size-4" />
      </a>

      <h1
        class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.1] text-balance"
      >
      A 
        <span class="text-gradient_indigo-purple">
          <span class="font-sans font-bold">web developer</span>
        </span>
        with background in 
        <span class="text-gradient_indigo-purple">
          <span class="font-sans font-bold">game development</span> 
        </span>
      </h1>

      <p
        class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 text-balance p-4"
      >
      Hi there, I'm Sattiyan 👋

      I'm a professional Web/Game Developer with expertise in PHP, Laravel, MySQL, Shopify, WooCommerce, Unity and the TALL stack.     
     </p>
      <div class="flex justify-center space-x-2 md:space-x-4">
        <a
          href="https://wa.me/60143072966"
          class={cn(buttonVariants({ size: "lg" }))}
        >
          Text me
        </a>
        <a
          href="https://dotkod.com"
          target="_blank"
          rel="noreferrer"
          class={cn(buttonVariants({ variant: "outline", size: "lg" }), "px-4")}
        >
          <!-- <Icon name="github" class="mr-2 size-5" /> -->
           Check about dotkod
        </a>
      </div>
    </div>
  </section>

  <section
    id="features"
    class="container space-y-6 bg-slate-50 py-8 dark:bg-transparent md:py-12 lg:py-24"
  >
    <div
      class="mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center"
    >
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
        Projects
      </h2>
      <!-- <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
      >
        Some projects that i was worked on/involved in recently:
      </p> -->
    </div>
    <div
      class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3"
    >
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <a target="_blank">
          <div class="flex flex-col justify-between rounded-md p-5"> <!--h-[180px]-->
            <div class="space-y-2">
              <h3 class="font-bold">Makan Bajet (WIP)</h3>
              <p class="text-sm text-muted-foreground">
                Lists budget meals/restaurants in Malaysia.
              </p>
              <p class="text-xs font-bold pt-2">Laravel, FilamentPHP, TailwindCSS</p>
            </div>
          </div>
        </a>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <a href="https://github.com/sattiyans/laravel-resume-builder/" target="_blank">
          <div class="flex flex-col justify-between rounded-md p-5"> <!--h-[180px]-->
            <div class="space-y-2">
              <h3 class="font-bold">Resume Builder</h3>
              <p class="text-sm text-muted-foreground">
                A laravel based CRUD tool allowing user to generate their own resume in which will it's own public url.
              </p>
              <p class="text-xs font-bold pt-2">Laravel, Bootstrap 5</p>
            </div>
          </div>
        </a>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <a href="https://movie-series-search.vercel.app/" target="_blank">
          <div class="flex flex-col justify-between rounded-md p-5"> <!--h-[180px]-->
            <div class="space-y-2">
              <h3 class="font-bold">Movie Series Search</h3>
              <p class="text-sm text-muted-foreground">
                Web app that allows users to search for movies and series and get information.
              </p>
              <p class="text-xs font-bold pt-2">JavaScript, OMDB Api</p>
            </div>
          </div>
        </a>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <a href="https://hadalabomalaysia.com/spinandwin/" target="_blank">
          <div class="flex flex-col justify-between rounded-md p-5"> <!--h-[180px]-->
            <div class="space-y-2">
              <h3 class="font-bold">Spin and Win</h3>
              <p class="text-sm text-muted-foreground">
                A web Spin & Win contest with submission form for user to win gifts.
              </p>
              <p class="text-xs font-bold pt-2">PHP, JavaScript, Bootstrap 4, MySQL</p>
            </div>
          </div>
        </a>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <a href="https://petronasannualreception.com/japan-feb-2023/admin" target="_blank">
          <div class="flex flex-col justify-between rounded-md p-5"> <!--h-[180px]-->
            <div class="space-y-2">
              <h3 class="font-bold">Event Management</h3>
              <p class="text-sm text-muted-foreground">
                A web system which consists of EDM, Entry QR, NFC and admin dashboard.
              </p>
              <p class="text-xs font-bold pt-2">PHP, JavaScript, Bootstrap 4, MySQL</p>
            </div>
          </div>
        </a>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <a href="https://github.com/sattiyans/employee-management" target="_blank">
          <div class="flex flex-col justify-between rounded-md p-5">
            <div class="space-y-2">
              <h3 class="font-bold">Employee Management</h3>
              <p class="text-sm text-muted-foreground">
                Employee Management System made using TALL stack and FilamentPHP.
              </p>
              <p class="text-xs font-bold pt-2">TailwindCSS, Alpine.js, Laravel, Liwewire, FilamentPHP</p>
            </div>
          </div>
        </a>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <a href="https://friends.sattiyans.com" target="_blank">
          <div class="flex flex-col justify-between rounded-md p-5"> <!--h-[180px]-->
            <div class="space-y-2">
              <h3 class="font-bold">FRIENDS Random Episode</h3>
              <p class="text-sm text-muted-foreground">
                Displays random FRIENDS episode along with episode streaming link (Netflix).
              </p>
              <p class="text-xs font-bold pt-2">JavaScript, JSON</p>
            </div>
          </div>
        </a>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <a href="https://github.com/sattiyans/direct-whatsapp" target="_blank">
          <div class="flex flex-col justify-between rounded-md p-5">
            <div class="space-y-2">
              <h3 class="font-bold">Direct WhatsApp</h3>
              <p class="text-sm text-muted-foreground">
                Direct WhatsApp phone number without saving it as contact.
              </p>
              <p class="text-xs font-bold pt-2">JavaScript, PHP</p>
            </div>
          </div>
        </a>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <a href="https://kensapothecary.com.my/pages/kens-beauty-voting" target="_blank">
          <div class="flex flex-col justify-between rounded-md p-5">
            <div class="space-y-2">
              <h3 class="font-bold">Beauty Awards Voting</h3>
              <p class="text-sm text-muted-foreground">
                A web backend system which is integrated with Shopify store.
              </p>
              <p class="text-xs font-bold pt-2">Shopify Liquid, JavaScript, PHP, MySQL</p>
            </div>
          </div>
        </a>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <a href="http://my.oliveyoung.com/virtualstore/freeredemption/" target="_blank">
          <div class="flex flex-col justify-between rounded-md p-5">
            <div class="space-y-2">
              <h3 class="font-bold">Olive Young Contest Form</h3>
              <p class="text-sm text-muted-foreground">
                A web form for users to register for contest.
              </p>
              <p class="text-xs font-bold pt-2">JavaScript, PHP, MySQL</p>
            </div>
          </div>
        </a>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <a href="https://moistdiane.com.my/virtualroadshow/freeredemption/" target="_blank">
          <div class="flex flex-col justify-between rounded-md p-5">
            <div class="space-y-2">
              <h3 class="font-bold">Moist Diane Contest Form</h3>
              <p class="text-sm text-muted-foreground">
                A web form for users to register for contest.
              </p>
              <p class="text-xs font-bold pt-2">JavaScript, PHP, MySQL</p>
            </div>
          </div>
        </a>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <a href="https://hadalabo.com.my/virtualroadshow" target="_blank">
          <div class="flex flex-col justify-between rounded-md p-5">
            <div class="space-y-2">
              <h3 class="font-bold">Kiosk Mobile Controller</h3>
              <p class="text-sm text-muted-foreground">
                A web system which works as web controller for Unity Windows app.
              </p>
              <p class="text-xs font-bold pt-2">JavaScript, PHP, MySQL</p>
            </div>
          </div>
        </a>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <a href="https://sattiyans.itch.io/lily-th" target="_blank">
          <div class="flex flex-col justify-between rounded-md p-5">
            <div class="space-y-2">
              <h3 class="font-bold">Lily-th</h3>
              <p class="text-sm text-muted-foreground">
                Horror puzzle game for Workshop 2 at UTeM.
              </p>
              <p class="text-xs font-bold pt-2">Unreal Engine 4</p>
            </div>
          </div>
        </a>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <a href="https://sattiyans.itch.io/oblivion" target="_blank">
          <div class="flex flex-col justify-between rounded-md p-5">
            <div class="space-y-2">
              <h3 class="font-bold">Oblivion</h3>
              <p class="text-sm text-muted-foreground">
                Role playing game for Workshop 1 at UTeM.
              </p>
              <p class="text-xs font-bold pt-2">Unreal Engine 4</p>
            </div>
          </div>
        </a>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <a href="https://sattiyans.itch.io/ravage" target="_blank">
          <div class="flex flex-col justify-between rounded-md p-5">
            <div class="space-y-2">
              <h3 class="font-bold">Ravage</h3>
              <p class="text-sm text-muted-foreground">
                Maze game for UTeM coursework.
              </p>
              <p class="text-xs font-bold pt-2">Unity</p>
            </div>
          </div>
        </a>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <a href="https://sattiyans.itch.io/bike-runner" target="_blank">
          <div class="flex flex-col justify-between rounded-md p-5">
            <div class="space-y-2">
              <h3 class="font-bold">Bike Runner</h3>
              <p class="text-sm text-muted-foreground">
                Endless runner game for PTSS Diploma FYP.
              </p>
              <p class="text-xs font-bold pt-2">Unity</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
</MainLayout>
